@model UserViewModel
@{
    ViewData["Title"] = "Kullanıcı Oluştur";
}


<div class="row mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col-4">
        <div class="text-danger small" asp-validation-summary="ModelOnly">
            @*
                Property'ler harici bir hata mesajı meydana geldiğinde burada yer gösterilecek
                asp-validation-summary bu işe yarıyor.
            *@
        </div>
        <form method="post">
            <div class="form-group">
                <label asp-for="FullName" class="font-weight-bold"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="font-weight-bold"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="font-weight-bold"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="font-weight-bold"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="font-weight-bold"></label>
                <input asp-for="RePassword" type="password" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger small"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="IsActive" class="form-check-input" />
                <label asp-for="IsActive" class="form-check-label"></label>
            </div>
            <div class="form-group form-check">
                <input asp-for="IsAdmin" class="form-check-input" />
                <label asp-for="IsAdmin" class="form-check-label"></label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus mr-2"></i>Oluştur</button>
                <a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left mr-2"></i>Listeye Dön</a>
            </div>
        </form>
    </div>
</div>