@{
    ViewData["Title"] = "Kullanıcı Oluştur";
}


<div class="row mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col-4">
        <form>
            <div class="form-group">
                <label for="fullname" class="font-weight-bold">Ad Soyad</label>
                <input type="text" class="form-control" id="fullname">
            </div>
            <div class="form-group">
                <label for="username" class="font-weight-bold">Kullanıcı Adı</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="email" class="font-weight-bold">E-Posta</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="Password" class="font-weight-bold">Şifre</label>
                <input type="password" class="form-control" id="Password">
            </div>
            <div class="form-group">
                <label for="repassword" class="font-weight-bold">Şifre(Tekrar)</label>
                <input type="password" class="form-control" id="repassword">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="isactive">
                <label for="isactive" class="form-check-label">Aktif</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="isadmin">
                <label for="isadmin" class="form-check-label">Yönetici</label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus mr-2"></i>Oluştur</button>
                <a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left mr-2"></i>Listeye Dön</a>
            </div>
        </form>
    </div>
</div>