@{
    ViewData["Title"] = "Kategori Sil";
}

<div class="row mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <p class="text-danger"> Kategoriyi silmek istediğinize emin misiniz?<br />
            <small>Bu işlem geri alınamaz!!</small>
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <dl class="row">
            <dt class="col-4">Kategori Adı</dt>
            <dd class="col-8">Veri</dd>

            <dt class="col-4">Kategori Açıklama</dt>
            <dd class="col-8">Veri</dd>

            <dt class="col-4">Oluşturan</dt>
            <dd class="col-8">Veri</dd>

            <dt class="col-4">Oluşturma Tarihi</dt>
            <dd class="col-8">Veri</dd>

            <dt class="col-4">Güncelleyen</dt>
            <dd class="col-8">Veri</dd>

            <dt class="col-4">Güncelleme Tarihi</dt>
            <dd class="col-8">Veri</dd>
        </dl>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <form method="post" asp-action="Delete">
            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-save mr-2"></i>Sil</button>
            <a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left mr-2"></i>Listeye Dön</a>
        </form>
    </div>
</div>