@{
    ViewData["Title"] = "Kategori Güncelle";
}

<div class="row mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col-4">
        <form>
            <div class="form-group">
                <label for="categoryname" class="font-weight-bold">Kategori Adı</label>
                <input type="text" class="form-control" id="categoryname" value="@NameData.GetCompanyName()">
            </div>
            <div class="form-group">
                <label for="CategoryDesc" class="font-weight-bold">Kategori Açıklaması</label>
                <textarea cols="3" class="form-control" id="CategoryDesc">@TextData.GetSentence()</textarea>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save mr-2"></i>Kaydet</button>
            <a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left mr-2"></i>Listeye Dön</a>
        </form>
    </div>
</div>